Package: ac.uk.surrey.rb00166.CertManager
Name: CertManager
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An application which blocks root certificates.
Maintainer: Ryan Burke
Author: Ryan Burke
Section: Utilities
